[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dj-database-url = "*"
djangorestframework = "*"
django-solo = "*"
coreapi = "*"
django-celery-beat = "*"
gunicorn = "*"
whitenoise = "*"
"psycopg2-binary" = "*"
celery = "*"
redis = "*"
requests = "*"
python-telegram-bot = "*"
python-dotenv = "*"
easy-env = "*"
feedparser = "*"

[dev-packages]

[requires]
python_version = "3.6"
