{% extends "core/base.html" %}
{% load staticfiles %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'reddit/style.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static "reddit/script.js" %}"></script>
{% endblock %}

{% block body %}
    <div id="app" v-cloak>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
            <a class="navbar-brand" href="#">Reposter</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between"
                 id="navbarSupportedContent">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{% url "admin:index" %}">
                        admin
                    </a>
                    <a class="nav-item nav-link">
                        posts left: [[ postsCount ]]
                    </a>
                </div>
            </div>
        </nav>

        <div class="container">
            <div v-for="(post, index) in posts" class="post card card-body" :key="index"
                 :class="{processed: post.processed}">
                <div class="post-body">
                    <a :href="post.media_link" target="_blank">
                        <img v-if="post.media_type === 'photo'"
                             :src="post.media_link"
                             class="post-media">
                    </a>
                    <video v-if="post.media_type === 'video'" controls loop :autoplay="false"
                           class="post-media">
                        <source :src="post.media_link" type='video/mp4'>
                    </video>
                </div>
                <h3 class="post-title">
                <textarea @keyup="autoGrowTitleField()" type="text" class="form-control"
                          v-model="post.title" ref="titleField"
                          style="min-height: 38px; max-height: 150px; height: 38px">
                </textarea>
                </h3>
                <div>
                    <span class="badge badge-primary">
                        len: [[ post.title.length ]]/200
                    </span>
                    <span class="badge badge-success">
                        sub: [[ post.sub ]]
                    </span>
                    <a :href="post.comments_url" target="_blank">comments</a>
                </div>
                <div class="post-controls row">
                    <div class="col-6">
                        <button @click.prevent="updatePost(post, post.title)"
                                class="btn btn-primary"
                                :disabled="post.processed === true"
                        >
                            accept
                        </button>
                    </div>
                    <div class="col-6">
                        <button @click="updatePost(post)"
                                class="btn btn-info"
                                :disabled="post.processed === true"
                        >
                            accept w/o title
                        </button>
                    </div>
                </div>
            </div>
            <div v-if="posts.length > 0" style="margin-bottom: 20px">
                <button @click="nextPosts" class="btn btn-danger btn-lg btn-block">
                    next posts
                </button>
            </div>
            <h1 v-if="initialized && posts.length === 0">
                good job, now back to work
            </h1>
        </div>
    </div>
{% endblock %}
