{% extends "core/base.html" %}
{% load staticfiles %}

{% block favicon %}
  <link rel="shortcut icon" type="image/png" href="{% static 'reddit/icon.ico' %}"/>
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'reddit/style.css' %}">
  <link rel="manifest" href="{% static 'reddit/manifest.webmanifest' %}">
{% endblock %}

{% block scripts %}
  <script src="{% static "reddit/script.js" %}"></script>
{% endblock %}

{% block body %}
  <div id="app" v-cloak>
    <nav class="navbar navbar-dark sticky-top page-nav"
         style="display: flex; justify-content: space-between">
      <a class="navbar-brand" onclick="window.location.reload()" href="#">
        Reposter
      </a>

      <div class="navbar-nav misc">
        <a class="nav-item nav-link" href="{% url "admin:index" %}">
          admin
        </a>
        <a class="nav-item nav-link">
          posts: [[ postsCount ]]
        </a>
      </div>
    </nav>

    <div class="container" style="max-width: 620px;">
      <div
          v-for="(post, index) in posts" :key="post.id"
          class="post card card-body" :class="{processed: post.processed}"
          :id="`post-${post.id}`"
      >
        <div class="post-body">
          <a :href="post.media_link" target="_blank">
            <img
                v-if="post.media_type === 'photo'"
                :src="post.media_link"
                class="post-media"
            />
          </a>
          <video v-if="post.media_type === 'video'" controls loop :autoplay="false"
                 class="post-media">
            <source :src="post.media_link" type='video/mp4'>
          </video>
        </div>

        <textarea
            class="form-control post-title"
            @keyup="autoGrowTitleField()" type="text"
            v-model="post.title" ref="titleField"
            :readonly="post.processed"
            style="min-height: 38px; max-height: 150px; height: 38px"
        ></textarea>

        <div>
          <span class="badge badge-primary">
              len: [[ post.title.length ]]/200
          </span>
          <span class="badge badge-success">
              sub: [[ post.sub ]]
          </span>
          <a :href="post.comments_url" target="_blank">comments</a>
        </div>
        <div class="post-controls row">
          <div class="col-6">
            <button
                @click.prevent="updatePost(post, post.title)"
                class="btn btn-primary"
                :disabled="post.processed"
            >
              accept
            </button>
          </div>
          <div class="col-6">
            <button @click="updatePost(post)"
                    class="btn btn-info"
                    :disabled="post.processed"
            >
              accept w/o title
            </button>
          </div>
        </div>
      </div>
      <div v-if="finished && posts.length !== 0" style="margin-bottom: 20px">
        <button @click="finish" class="btn btn-danger btn-lg btn-block">
          finish
        </button>
      </div>
      <div
          v-if="finished && posts.length === 0"
          style="text-align: center; background: white; border-radius: 3px"
          class="end-card card card-body"
      >
        <h3 style="margin: 0">good job, now back to work</h3>
      </div>
    </div>
  </div>
{% endblock %}
